<p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @content.parent %>
</p>

<p>
  <strong>Child:</strong>
  <%= @content.child %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
